<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite">
<test name="Suite" >   
<classes>
	<!-- <class name="framework.runner.FacebookLoginFeatureRunner"/> -->
	<class name="framework.stepdefinations.LoginToFacebook"/>
</classes>
</test>
</suite>